<p id="notice"><%= notice %></p>

<h1>Listing Cell Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Values</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cell_types.each do |cell_type| %>
      <tr>
        <td><%= cell_type.name %></td>
        <td><%= cell_type.description %></td>
        <td><%= cell_type.values %></td>
        <td><%= link_to 'Show', cell_type %></td>
        <td><%= link_to 'Edit', edit_cell_type_path(cell_type) %></td>
        <td><%= link_to 'Destroy', cell_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cell type', new_cell_type_path %>
